.dashboard {
  padding: 28px 32px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--Off-white);
}

.dashboard__data-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 28px;
}
