.dashboard {
  width: 100%;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  padding: 0 40px 40px;
  position: relative;
  /* overflow-x: hidden; */
}

.dashboard__data-row {
  display: flex;
  gap: 20px;
  width: 100%;
}

/* .databox__tr-image:active {

} */
