.modal {
  /* display: none; Hidden by default */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  width: 60%;
  border-radius: 28px;
  padding: 60px 100px 60px 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.book-session-modal-content {
  padding-top: 0px;
  padding-bottom: 21px;
  width: 550px;
}

.add-student-modal-content {
  padding-top: 0px;
  width: 475px;
}

.add-student-modal_header {
  margin-top: 21px;
  font-size: 32px;
  font-weight: 700;
  color: #2E6F5E
}

.add-student-modal-text {
  font-style: 600;
  font-size: 16px;
  color: #243A5E;
}

.add-student-modal-input__container {
  width: 366px;
  height: 83px;
}

.add-student-modal-input__container label {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #212121BE;
}

.add-student-modal-input__container input {
  width: 100%;
  border-radius: 8px;
  border-color: #21212166;
}

.add-student-modal-buttons {
  height: fit-content !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 366px;
  font-size: 16px;
  font-weight: 600;
  padding-top: 15px;
}

.add-student-modal-buttons button {
  margin-top: 0 !important;
  padding: 0 !important;
  width: 164px !important;
  height: 41px !important;
  font-size: 16px;
  text-align: center;
  line-height: normal;
}

.add-student-confirm-button {
  background-color: #7FBF4D !important;
}

.add-student-cancel-button {
  background-color: #2E2E2E;
}

.modal-text {
  /* margin-top: 3.7rem; */
  /* margin-top: 59px; */
  font-weight: 600;
  font-size: 38px;
  line-height: 55px;
  letter-spacing: normal;
  white-space: pre-wrap;
  color: var(--Outlines);
  text-align: center;
}

#modal__buttons-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.modal-button {
  height: 73px;
  margin-top: 4rem;
  padding: 9px 61px 9px 61px;
  font-weight: 600;
  font-size: 28px;
  line-height: 55px;
  /* margin-top: 80px; */
  border-radius: 14px;
  background-color: var(--Support);
  color: white;
}

.modal-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
