.databox-med {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 204px;
  background-color: var(--Primary);
  border-radius: 28px;
}
