.tutoring {
  width: 100%;
}

.tutoring__nav {
  display: flex;
  width: 100%;
  align-items: center;
}

.tutoring__selector {
  display: flex;
  width: 300px;
  align-items: center;
}

.tutoring__status {
  margin-top: 2.5rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.tutoring__status--error {
  color: var(--color-error);
}
