@import 'tailwindcss';

:root {
  --Primary: #cde8b5; /* Mint green */
  --Outlines: #2e6f5e; /* Dark Green */
  --Accent: #f39c34; /* Orange */
  --Support: #243a5e; /* Navy blue */
  --Highlight: #7fbf4d; /* Bright Green */
  --Off-white: #f8faf7; /* Slightly darker white */
  --Nav-Border: #d5d5d5; /* Dark Gray */
}

@theme inline {
}

@media (prefers-color-scheme: dark) {
}

body {
  display: flex;
}

.shell__body {
  width: 100vw;
}

/* Global Convenience Styles */

button {
  padding: 10px 15px;
  border-radius: 14px;
  background-color: #243a5e;
  color: #fff;
}

button:hover {
  cursor: pointer;
}
