.topnav {
    width: 100%;
    /* height: 84px; */
    padding: 18px 40px 18px 40px;
}

/* .topnav {} */

.topnav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .topnav-logo {} */

.topnav__user-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topnav-notification {
    width: 34px;
    height: 34px;
}

.topnav-avatar {
    width: 43px;
    height: 43px;
    border: 3px solid var(--Highlight);
    border-radius: 50%;
    margin-left: 1.8rem;
    /* margin-left: 29px; */
}

.topnav-username {
    font-size: 18px;
    font-weight: 600;
    color: var(--Support);
    margin-left: 1.1rem;
    /* margin-left: 17px; */
}