.credits {
  width: 100%;
  padding: 20px 40px 40px;
}

.credits__header {
  margin-bottom: 20px;
}

.credits__header-title {
  font-size: 48px;
  font-weight: 700;
  color: var(--Outlines);
}

.credits__header-subtext {
  font-size: 24px;
  font-weight: 400;
}

.billing__title {
  font-size: 24px;
  font-weight: 700;
  color: var(--Support);
  margin-bottom: 20px;
}

.billing__card {
  display: flex;
  background-color: var(--Primary);
  max-width: 412px;
  padding: 22px 24px;
  border-radius: 28px;
  justify-content: space-between;
}

.billing__card-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--Support);
  font-weight: 500;
}
